html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, textarea, input {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll;
  width: 100%;
}
body {
  width: 100%;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 12pt;
  line-height: 1.6;
  min-width: 1020px;
}
/*bootstrap override*/

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/*_bootstrap override_*/

img {
  border: 0;
  vertical-align: bottom;
}
table,
table td {
  border-collapse: collapse;
}
td,
th {
  vertical-align: top;
}
p {
  margin: 25px 0;
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-weight: bold;
}
a {
  color: #192b37;
  text-decoration: none;
}
a:hover {
  color: #e14d4d;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
a img {
  cursor: pointer;
}
a.external {
  color: #192b37;
}
a.external:hover {
  color: #192b37;
}
.errortext a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 24pt;
  line-height: 1.1;
  margin: 0 0 20px 0;
}
h2 {
  font-size: 16.5pt;
  line-height: 1.1;
  margin: 35px 0 15px 0;
}
h3 {
  font-size: 14pt;
  margin: 30px 0 15px 0;
}
h4 {
  font-size: 12pt;
  font-weight: bold;
  margin: 25px 0 15px 0;
}
h5 {
  font-size: 10.5pt;
  font-weight: bold;
  margin: 25px 0 15px 0;
}
h6 {
  font-size: 9pt;
  font-weight: bold;
  margin: 25px 0 15px 0;
}
.block_header {
  font-size: 11pt;
  text-transform: uppercase;
  color: #192b37;
  font-weight: bold;
  margin: 0 0 27px 0;
  line-height: normal;
  letter-spacing: 1px;
}
.block_header a {
  color: #192b37;
}
.block_header a:hover {
  color: #192b37;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
  width: 1px;
  font-size: 0;
}
.date {
  font-size: 9pt;
  color: #b0b0b0;
}
hr {
  margin: 15px 0;
  background: url(/images/decor/hr.gif) repeat-x 0 0;
  height: 2px;
  border: none;
}
hr.i-size-S {
  margin: 4px 0;
}
.relative {
  position: relative;
}
#ctrlcopy {
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: 5px 0 0 -1px;
  line-height: 0;
  opacity: 0;
}
.i-fixed-element {
  position: fixed;
  z-index: 200;
}
.i-blocked-element {
  position: fixed;
  z-index: 199;
}

/*List*/

ul,
ol,
dl {
    margin: 10px 0 10px 32px;
}
ul li {
    list-style-type: disc;
}
li {
    padding-bottom: 5px;
}
dt {
  position: relative;
  margin-bottom: 15px;
  font-weight: bold;
  
  &:before {
    content: "—";
    display: block;
    position: absolute;
    top: 0;
    left: -32px;
  }
}
dd {
  margin-bottom: 15px;
}
/*_List_*/

.main_section * {
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

#top_banner img {
  padding-bottom:25px;
}

.b-top-banner img {
  padding-bottom:25px;
}

#top_logo a {
  display: inline-block;
  padding: 0 2px 0 11px;
}

table.table td a {
  color: #848484;
}

#form_section .buttons input.submit {
  background-position: -176px -621px;;
  width: 124px;
}
#form_section .buttons input.submit_hover {
  background-position: -176px -654px;
}
#form_section .buttons input.submit_active {
  background-position: -176px -686px;
}

#form_section .buttons .preview a,
#form_section .buttons .preview input,
#form_section .buttons .draft a,
#form_section .buttons .draft input {
  width: 125px;
  height: 32px;
  background: url('/images/but_images.png') no-repeat 0 -297px;
  text-indent: -200px;
  font-size: 0;
  color: #666666;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

#footer .columns li.telegram a {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAA70lEQVQokZ3SvUpDQRCG4ef4g7FTBNFUQRELCwUltaJdInYBSZnKCxBsBAt7L0CwsNDOK9Cb0MrCQtBGQdRChBRJkV04OR6Jx6/amZ13vt1hkpmltY5/aqhg/RvO8PpXuIMb7KKMFm4HwU84xjy20MY4EqzmwW1coYYKDlHCJR7wjgVMwEiAPoLLOV5CroQjbGMHjyFfjU7R+St0HQ7xJu6wjo0U2AdH51mc6g3nAnN6Q2niO/O1H85RCRq4xn4OOIqV3+BY8Iln7KGeulvGWPbZWTUwhYMQn4RzNV2UFFjPe0xiepBznhaziaK73acuKokonRcTgIYAAAAASUVORK5CYII=') no-repeat 0 3px;
}