<style>
.b-team {
	border: 1px solid #c7c7c7;
	padding: 0 10px 10px;
}
.b-team__top-heading {
	font-style: italic;
	font-size: 8pt;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: -8px;
	color: #999;
	text-align: center;
}
.b-team__top-heading span {
	background-color: #fff;
	display: inline-block;
	padding: 0 18px;
}
.b-team__heading {
	text-align: center;
	font-size: 18pt;
	margin-top: 37px;
}
.b-team__intro {
	font-size: 9pt;
	text-align: center;
	width: 400px;
	margin: 0 auto 30px;
}
.b-team__block {
	margin-bottom: 25px;
}
.b-team__block__heading {
	font-size: 7pt;
	text-transform: uppercase;
	color: #999;
	text-align: center;
	background: url("data:image/gif;base64,R0lGODlhnwABAIAAAMfHxwAAACH5BAAAAAAALAAAAACfAAEAAAILhI+py+0Po5y0qgIAOw==") no-repeat center bottom;
	padding-bottom: 13px;
	letter-spacing: 1px;
	margin: 0 0 30px 0;
	line-height: normal;
}
.b-team__items-block {
	text-align: center;
}

.b-team__item {
	display: inline-block;
	vertical-align: top;
	width: 197px;
	height: 220px;
	text-align: center;
	margin: 0 16px 27px;
}
.b-team__item__photo {
	display: inline-block;
	width: 197px;
	height: 120px;
	background-color: #ccc;
	overflow: hidden;
	margin-bottom: 18px;
}
.b-team__name {
	display: inline-block;
	width: 197px;
	font-size: 14pt;
	margin-bottom: 5px;
}
.b-team__position {
	display: inline-block;
	width: 197px;
	height: 23px;
	font-size: 7pt;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 10px;
	letter-spacing: 1px;
	line-height: normal;
}
.b-team__networks {
	display: inline-block;
	width: 197px;
}
.b-team__networks__item {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(/images/team/networks.gif) no-repeat 0 0;
}
.b-team__networks__item.i-facebook {
	background-position: 0 0;
}
.b-team__networks__item.i-twitter {
	background-position: -22px 0;
}
.b-team__networks__item.i-vkontakte {
	background-position: -44px 0;
}
</style>

<div class="b-team">
	<div class="b-team__top-heading"><span>Команда</span></div>
	<h1 class="b-team__heading">Кто делает этот проект</h1>
	<div class="b-team__intro">Небольшой вводный текст о работниках. Дружная команда профессионалов, работа которой, несмотря на территориальную отдаленность, всегда четко слажена</div>
	
	<div class="b-team__block">
		<h2 class="b-team__block__heading">Редакция</h2>
		<div class="b-team__items-block">
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/chernikova.jpg" width="197" height="120" alt="Настя Черникова">
				</span>
				<span class="b-team__name">Настя Черникова</span>
				<span class="b-team__position">Главный редактор</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/shineft.jpg" width="197" height="120" alt="Антон Shineft">
				</span>
				<span class="b-team__name">Антон Shineft</span>
				<span class="b-team__position">Дизайнер</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/korchuk.jpg" width="197" height="120" alt="Юлия Корчук">
				</span>
				<span class="b-team__name">Юлия Корчук</span>
				<span class="b-team__position">Контент-менеджер</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/baev.jpg" width="197" height="120" alt="Антон Баев">
				</span>
				<span class="b-team__name">Антон Баев</span>
				<span class="b-team__position">Редактор спецпроектов</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/zapuskalov.jpg" width="197" height="120" alt="Антон Запускалов">
				</span>
				<span class="b-team__name">Антон Запускалов</span>
				<span class="b-team__position">Редактор</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/tolmacheva.jpg" width="197" height="120" alt="Алина Толмачева">
				</span>
				<span class="b-team__name">Алина Толмачева</span>
				<span class="b-team__position">Редактор</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/lashkov.jpg" width="197" height="120" alt="Александр Лашков">
				</span>
				<span class="b-team__name">Александр Лашков</span>
				<span class="b-team__position">Редактор</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/dymka.jpg" width="197" height="120" alt="Дымка">
				</span>
				<span class="b-team__name">Дымка</span>
				<span class="b-team__position">Кошка</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
		</div>
	</div>
	
	<div class="b-team__block">
		<h2 class="b-team__block__heading">Разработка, поддержка,<br>коммерческий отдел</h2>
		<div class="b-team__items-block">
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/oreshkina.jpg" width="197" height="120" alt="Елизавета Орешкина">
				</span>
				<span class="b-team__name">Елизавета Орешкина</span>
				<span class="b-team__position">Проектирование содержания</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/stroinov.jpg" width="197" height="120" alt="Евгений Стройнов">
				</span>
				<span class="b-team__name">Евгений Стройнов</span>
				<span class="b-team__position">Разработчик, арт-директор</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/zilberg.jpg" width="197" height="120" alt="Олег Зильберг">
				</span>
				<span class="b-team__name">Олег Зильберг</span>
				<span class="b-team__position">Разработка и проектирование</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/smarthead.jpg" width="197" height="120" alt="Smarthead">
				</span>
				<span class="b-team__name">Smarthead</span>
				<span class="b-team__position">Хостинг и техническая поддержка</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/twinpx.jpg" width="197" height="120" alt="Twin px">
				</span>
				<span class="b-team__name">Twin px</span>
				<span class="b-team__position">Разработка, программирование и поддержка</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/blokhin.jpg" width="197" height="120" alt="Александр Блохин">
				</span>
				<span class="b-team__name">Александр Блохин</span>
				<span class="b-team__position">Проектирование</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/belousov.jpg" width="197" height="120" alt="Николай Белоусов">
				</span>
				<span class="b-team__name">Николай Белоусов</span>
				<span class="b-team__position">Специальные проекты, реклама на Cossa</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/shishalov.jpg" width="197" height="120" alt="Роман Шишалов">
				</span>
				<span class="b-team__name">Роман Шишалов</span>
				<span class="b-team__position">Реклама на Cossa</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
		</div>
	</div>
	
	<div class="b-team__block">
		<h2 class="b-team__block__heading">Основатели</h2>
		<div class="b-team__items-block">
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/blokhin.jpg" width="197" height="120" alt="Александр Блохин">
				</span>
				<span class="b-team__name">Александр Блохин</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/belousov.jpg" width="197" height="120" alt="Николай Белоусов">
				</span>
				<span class="b-team__name">Николай Белоусов</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/bykov.jpg" width="197" height="120" alt="Виталий Быков">
				</span>
				<span class="b-team__name">Виталий Быков</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/zilberg.jpg" width="197" height="120" alt="Олег Зильберг">
				</span>
				<span class="b-team__name">Олег Зильберг</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/stroinov.jpg" width="197" height="120" alt="Евгений Стройнов">
				</span>
				<span class="b-team__name">Евгений Стройнов</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
			
			<span class="b-team__item">
				<span class="b-team__item__photo">
					<img src="/images/team/lebedev.jpg" width="197" height="120" alt="Василий Лебедев">
				</span>
				<span class="b-team__name">Василий Лебедев</span>
				<span class="b-team__networks">
					<a href="" target="_blank" class="b-team__networks__item i-facebook"></a>
					<a href="" target="_blank" class="b-team__networks__item i-twitter"></a>
					<a href="" target="_blank" class="b-team__networks__item i-vkontakte"></a>
				</span>
			</span>
		</div>
	</div>
</div>