<div class="articles_list">
  <div class="item b-updatable-feed__i" id="bx_2479606846_15487" data-section-id="234239">
    <h2><span class="h"><a href="/articles/item/">Мы в расчете с интернетом</a></span> <a href="" class="fav add_fav" title="Добавить в закладки"></a></h2>
    <div class="image"><a href="/articles/item/"><img src="http://cossa.ru/upload/iblock/9f5/1328449684teaser.jpg" width="303" alt="Мы в расчете с интернетом" class="img_align" /></a></div>
    <div class="text">
      <div class="intro">
        <a href="/articles/" class="label">Мнения</a> Тем, что в интернете за нами ведется постоянная слежка со стороны брендов, поисковиков, социальных сетей и вообще всего, к чему мы здесь прикасаемся, никого не удивишь. На Западе этим очень озабочены — обвиняют Google в монополии, некоторые принципиально не регистрируются в Facebook. В разных опросах политика конфиденциальности является первой причиной того, почему люди не используют новые сервисы. Запоминание сайтами истории каждого ведет к преследованиям по всему интернету (баннеры, тизеры, контекстная реклама), особенно это стало ощутимо с развитием ретаргетинга. Не удивлюсь, если научное сообщество вскоре придумает специальный термин для людей, которые отказываются от интернета из-за мании преследования.
      </div>
      <div class="info_bar">
        <span class="author"><a href="/rating/person/">Василий Лебедев</a>,</span>
        <span class="occupation">креативный директор</span> в
        <a href="/rating/item/" class="company">Red Keds</a>
        <br />
        <span class="date">21 апреля, 16:00</span>
        <a href="#comments" class="comments" title="Комментарии"><span>14</span></a>
        <span class="rating up">2030</span>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="item b-updatable-feed__i" id="bx_2479606846_15481" data-section-id="234234">
    <h2><span class="h"><a href="/articles/item/">Развитие русскоязычных Facebook-сообществ в 2011 году</a></span> <a href="" class="fav add_fav" title="Добавить в закладки"></a></h2>

    <div class="image"><a href="/articles/item/"><img src="http://cossa.ru/upload/iblock/7c9/big_1329405626teaser.jpg" width="303" alt="Развитие русскоязычных Facebook-сообществ в 2011 году" class="img_align" /></a></div>
    <div class="text">
      <div class="intro">
        <a href="/articles/" class="label i-advert">Реклама</a>
        <a href="/articles/" class="label">Тренды</a>
        2011 год стал значимым в вопросах выбора брендами стратегии развития своих сообществ в крупнейшей социальной сети Facebook. Рассказывают Руслан Брова и Александр Клейн из агентства КСАН.
      </div>
      <div class="info_bar">
        <span class="author"><a href="/rating/person/">Василий Лебедев</a>,</span>
        <span class="occupation">креативный директор</span> в
        <a href="/rating/item/" class="company">Red Keds</a>
        <br />
        <span class="date">21 апреля, 16:00</span>
        <a href="#comments" class="comments" title="Комментарии"><span>14</span></a>
        <span class="rating up">2030</span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
