
<!-- start /components/updatable-feed/-->
<link rel="stylesheet" href="/components/updatable-feed/style.css"/>
<script src="/components/updatable-feed/script.js"></script>

<div class="b-updatable-feed">
  <div class="b-updatable-feed__container">
    <div class="articles_list">
    
      <div class="item b-updatable-feed__i" id="bx_2479606846_15481" data-section-id="234234">
        <h2><span class="h"><a href="/articles/item/">Развитие русскоязычных Facebook-сообществ в 2011 году</a></span> <a href="" class="fav add_fav" title="Добавить в закладки"></a></h2>
        <div class="image"><a href="/articles/item/"><img src="http://cossa.ru/upload/iblock/7c9/big_1329405626teaser.jpg" width="303" alt="Развитие русскоязычных Facebook-сообществ в 2011 году" class="img_align" /></a></div>
        <div class="text">
          <div class="intro">
            <a href="/articles/" class="label i-advert">Реклама</a>
            <a href="/articles/" class="label">Тренды</a>
            2011 год стал значимым в вопросах выбора брендами стратегии развития своих сообществ в крупнейшей социальной сети Facebook. Рассказывают Руслан Брова и Александр Клейн из агентства КСАН.
          </div>
          <div class="info_bar">
            <span class="author"><a href="/rating/person/">Василий Лебедев</a>,</span>
            <span class="occupation">креативный директор</span> в
            <a href="/rating/item/" class="company">Red Keds</a>
            <br />
            <span class="date">21 апреля, 16:00</span>
            <a href="#comments" class="comments" title="Комментарии"><span>14</span></a>
            <span class="rating up">2030</span>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="item b-updatable-feed__i" id="bx_2479606846_15482" data-section-id="234235">
        <h2><a href="" class="b-article-theme-label">Индекс влияния.</a> <a href="" class="author expert">Александр Блохин:</a> <span class="h"><a href="/articles/item/">Стратегия управления репутацией в 3 шагах</a></span> <a href="" class="fav remove_fav" title="Убрать из закладок"></a></h2>
        <div class="image"><a href="/articles/item/"><img src="http://cossa.ru/upload/iblock/1a8/orm_title.jpg" width="303" alt="Стратегия управления репутацией в 3 шагах" class="img_align" /></a></div>
        <div class="text">
          <div class="intro">
            <a href="/articles/" class="label">Кейсы</a> Управление репутацией в интернете (Online reputation management, ORM) стало важнейшим компонентом маркетинговых кампаний в 2011 году.
          </div>
          <div class="info_bar">
            <span class="author"><a href="/rating/person/">Василий Лебедев</a>,</span>
            <span class="occupation">креативный директор</span> в
            <a href="/rating/item/" class="company">Red Keds</a>
            <br />
            <span class="date">21 апреля, 16:00</span>
            <a href="#comments" class="comments" title="Комментарии"><span>14</span></a>
            <span class="rating down">20</span>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      
    </div>
  </div>
  <div data-pages="3" class="b-load"><a href="/components/updatable-feed/more.html" title="Load more" class="b-load-button">Показать ещё</a></div>
</div>

<!-- end /components/updatable-feed/-->